@charset "UTF-8";
:root {
  --font-family: "Poppins", sans-serif;
  --content-width: 1140px;
  --container-offset: 0px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --main-color: #ffa501;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Poppins";
  src: url("../resources/../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../resources/../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.active {
  display: block !important;
}

.noscroll {
  overflow: hidden;
  height: 100vh;
}

.divider {
  width: 50px;
  height: 3px;
  background-color: var(--main-color);
  margin: 25px auto 0 auto;
}

.site-container {
  overflow: hidden;
  position: relative;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

/* общие блоки */
.title {
  font-weight: 700;
  color: #000000;
}
.title--fz48 {
  font-size: 48px;
}
.title--fz36 {
  font-size: 36px;
}
.title--fz16 {
  font-size: 16px;
}
.title--fz14 {
  font-size: 14px;
}
.title--fz20 {
  font-size: 20px;
}

.main-btn {
  height: 45px;
  line-height: 45px;
  padding: 0 25px;
  background: var(--main-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  cursor: pointer;
}

.second-btn {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

.form {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 45px 30px 190px 30px 45px;
  -ms-grid-columns: (280px)[2];
  grid-template: 45px 190px 45px/repeat(2, 280px);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  row-gap: 30px;
}
.form__group {
  position: relative;
}
.form__label {
  position: absolute;
  display: block;
  height: 18px;
  top: -9px;
  left: 12px;
  padding: 0 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  background-color: #fff;
  z-index: 1;
}
.form__label-check {
  position: relative;
  padding-left: 25px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
.form__label-check:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border: 1px solid #000;
  border-radius: 4px;
  /*&:checked {
    background-color: var(--main-color);
  } */
}
.form__label-check:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-position: center;
  background-size: cover;
}
.form__input {
  padding: 0 20px;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
.form__textarea {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}
.form__textarea textarea {
  width: 100%;
  height: 100%;
  padding: 20px;
  resize: none;
}
.form__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}
.form__checkbox {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  opacity: 0;
  z-index: 1;
}
.form__checkbox:checked + label::after {
  background-image: url("../img/svg/check.svg");
  background-color: var(--main-color);
  border: none;
}

.sidepanel {
  position: fixed;
  top: 230px;
  left: 50px;
  height: 340px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 3;
}
.sidepanel__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.sidepanel__item:not(:last-child) {
  margin-top: 15px;
}
.sidepanel__link svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.sidepanel__divider {
  width: 2px;
  height: 70px;
  background-color: #fff;
}
.sidepanel__text {
  height: 150px;
  width: 25px;
  color: #fff;
}
.sidepanel__text span {
  display: block;
  width: 150px;
  -webkit-transform: rotate(-90deg) translate(-35%, -345%);
  -ms-transform: rotate(-90deg) translate(-35%, -345%);
  transform: rotate(-90deg) translate(-35%, -345%);
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.menu.active {
  left: 0;
  visibility: visible;
  opacity: 1;
}
.menu__block {
  position: relative;
  width: 345px;
  height: 100%;
  padding-top: 140px;
  padding-left: 40px;
  background: var(--main-color);
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  z-index: 10;
}
.menu__close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.menu__close svg {
  width: 29px;
  height: 29px;
  -webkit-transition: fill 0.4s;
  -o-transition: fill 0.4s;
  transition: fill 0.4s;
}
.menu__close svg:hover, .menu__close svg:focus {
  fill: red;
}
.menu__list {
  padding-left: 35px;
}
.menu__link {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
.menu__link a {
  color: #FFFFFF;
  text-decoration: none;
}
.menu__link:not(:last-child) {
  margin-bottom: 10px;
}
.menu__link:before {
  content: "";
  position: absolute;
  left: -35px;
  top: 10px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 1px solid #000;
  -webkit-transition: border-color 0.4s, background-color 0.4s;
  -o-transition: border-color 0.4s, background-color 0.4s;
  transition: border-color 0.4s, background-color 0.4s;
}
.menu__link:hover:before {
  border: none;
  background-color: #fff;
}
.menu__social {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.menu__social-link svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.75;
}

.hero {
  position: relative;
  background-image: -webkit-image-set(url("../img/hero-bg.avif") type("image/avif"), url("../img/hero-bg.webp") type("image/webp"), url("../img/hero-bg.jpg") type("image/jpg"));
  background-image: image-set(url("../img/hero-bg.avif") type("image/avif"), url("../img/hero-bg.webp") type("image/webp"), url("../img/hero-bg.jpg") type("image/jpg"));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.hero:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1;
}
.hero__content {
  padding-top: 250px;
}
.hero__subtitle {
  position: relative;
  padding-left: 10px;
  color: #fff;
  z-index: 2;
}
.hero__subtitle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: var(--main-color);
  z-index: -1;
}
.hero__title {
  position: relative;
  margin-top: 10px;
  max-width: 536px;
  color: #fff;
  z-index: 2;
}
.hero__btns {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 250px;
  margin-top: 25px;
  z-index: 2;
}
.hero__portfolio-btn {
  display: block;
  margin-right: 45px;
  color: #fff;
}
.hero__hamburger {
  position: absolute;
  top: 20px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 36px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
}
.hero__hamburger span {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
}
.hero__hamburger span::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  background: #fff;
}
.hero__hamburger span::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px);
  background: #fff;
}

.about {
  padding-top: 120px;
}
.about .divider {
  margin-left: 0;
}
.about__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 670px;
  grid-template-columns: 400px 670px;
  -ms-grid-rows: minmax(245px) minmax(255px);
  grid-template-rows: minmax(245px) minmax(255px);
  grid-auto-rows: minmax(245px);
  -webkit-column-gap: 70px;
  -moz-column-gap: 70px;
  column-gap: 70px;
  row-gap: 40px;
}
.about__img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  border-radius: 5px;
  max-width: 600px;
  max-height: 600px;
}
.about__img img {
  width: 100%;
}
.about__subtitle {
  position: relative;
  padding-left: 12px;
  padding-top: 1px;
}
.about__subtitle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: var(--main-color);
  z-index: -1;
}
.about__content {
  padding-top: 8px;
}
.about__content .divider {
  margin-top: 10px;
}
.about__title {
  margin-top: 10px;
}
.about__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  margin-top: 20px;
}

.advantages {
  margin-top: 40px;
}
.advantages__title {
  position: relative;
  text-align: center;
}
.advantages__title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: var(--main-color);
  z-index: -1;
}
.advantages__title:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.advantages__inner {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  /* grid-template: repeat(2, 1fr) / repeat(2, 1fr); */
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  row-gap: 30px;
}
.advantages__item {
  background-color: var(--main-color);
  padding: 25px;
  border-radius: 10px;
}
.advantages__item-icon {
  position: relative;
  width: 75px;
  height: 75px;
  margin: 0 auto;
  font-size: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 100%;
  color: #000;
}
.advantages__item-icon svg {
  width: 50px;
  height: 50px;
  fill: #000;
}
.advantages__item-title {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}
.advantages__item-text {
  margin-top: 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}

.resume {
  padding-top: 120px;
}
.resume__title {
  position: relative;
  text-align: center;
}
.resume__title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: var(--main-color);
  z-index: -1;
}
.resume__title:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.resume__subtitle {
  margin-top: 15px;
  text-align: center;
}
.resume__wrapper {
  padding: 60px 65px 0 65px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (425px)[2];
  grid-template-columns: repeat(2, 425px);
  -webkit-column-gap: 135px;
  -moz-column-gap: 135px;
  column-gap: 135px;
}
.resume__column-title {
  position: relative;
  padding-left: 35px;
}
.resume__column-title::before {
  content: "";
  position: absolute;
  left: -7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: var(--main-color);
}
.resume__column ul li {
  position: relative;
}
.resume__column ul li::after {
  content: "";
  position: absolute;
  width: 1px;
  height: calc(100% + 5px);
  top: -5px;
  left: 0;
  background-color: #000;
}
.resume__item {
  position: relative;
}
.resume__item:before {
  content: "";
  height: 1px;
  width: 43px;
  position: absolute;
  top: 60px;
  background-color: #000;
}
.resume__item-head {
  position: relative;
  padding: 45px 0 0 100px;
}
.resume__item-location {
  margin-top: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
.resume__item-body {
  padding-left: 43px;
  margin-top: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
.resume__item-icon {
  position: absolute;
  top: 48px;
  left: 43px;
}
.resume__item-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: var(--main-color);
  z-index: -1;
}
.resume__item-icon svg {
  width: 25px;
  height: 25px;
  position: relative;
  left: 17px;
  top: 9px;
}

.skills {
  padding-top: 120px;
}
.skills__title, .skills__subtitle {
  text-align: center;
}
.skills__title {
  position: relative;
}
.skills__title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: var(--main-color);
  z-index: -1;
}
.skills__title:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.skills__subtitle {
  margin-top: 15px;
}
.skills__wrapper {
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (270px)[4];
  grid-template-columns: repeat(4, 270px);
  -ms-grid-rows: minmax(270px, auto) minamx(270px, auto);
  grid-template-rows: minmax(270px, auto) minamx(270px, auto);
  grid-auto-rows: minmax(270px, auto);
  gap: 13px;
}
.skills__item {
  padding: 30px 30px 25px 30px;
  border: 1px solid #000000;
}
.skills__item-title {
  margin-top: 20px;
}
.skills__item-text {
  margin-top: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.portfolio {
  padding-top: 120px;
}
.portfolio__subtitle {
  margin-top: 15px;
}
.portfolio__title {
  position: relative;
}
.portfolio__title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: var(--main-color);
  z-index: -1;
}
.portfolio__title:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.portfolio__wrapper {
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (280px)[4];
  grid-template-columns: repeat(4, 280px);
  -ms-grid-rows: (280px)[2];
  grid-template-rows: repeat(2, 280px);
  grid-auto-rows: 280px;
  gap: 5px;
}
.portfolio__item {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.portfolio__item-title {
  color: #fff;
}
.portfolio__item-text {
  margin-top: 20px;
}
.portfolio__item-inner {
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  background-color: rgba(0, 0, 0, 0.7);
}
.portfolio__item-inner:hover {
  opacity: 1;
}
.portfolio__item--vertical {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}
.portfolio__item--horizontal {
  width: 100%;
  height: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
.portfolio__item:hover {
  -webkit-transform: scale(1.015);
  -ms-transform: scale(1.015);
  transform: scale(1.015);
}

.price {
  padding-top: 60px;
}
.price__title {
  position: relative;
  text-align: center;
}
.price__title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: var(--main-color);
  z-index: -1;
}
.price__title:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.price__wrapper {
  padding: 0 60px;
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(45px, auto) 15px minmax(45px, auto) 15px minmax(45px, auto);
  -ms-grid-columns: (365px)[2];
  grid-template: repeat(3, minmax(45px, auto))/repeat(2, 365px);
  grid-auto-rows: minmax(45px, auto);
  row-gap: 15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.price__item {
  position: relative;
  padding-left: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(21px, auto) 5px minmax(21px, auto);
  -ms-grid-columns: (auto)[2];
  grid-template: repeat(2, minmax(21px, auto))/repeat(2, auto);
  row-gap: 5px;
}
.price__item-title, .price__item-price {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.price__item-value {
  -ms-grid-column-align: end;
  justify-self: end;
}
.price__item-descr {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}
.price__item:before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 3px;
  left: 0;
  background-color: var(--main-color);
  border-radius: 100%;
}

.contact {
  padding: 120px 0 90px 0;
}
.contact__wrapper {
  padding: 0 35px 0 52px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 585px;
  grid-template-columns: 400px 585px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.contact__img img {
  height: 100%;
}
.contact__title {
  position: relative;
  padding-left: 12px;
}
.contact__title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: var(--main-color);
  z-index: -1;
}
.contact__subtitle {
  margin-top: 10px;
}
.contact .divider {
  margin: 20px 0 0 0;
}
.contact__text {
  margin-top: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.contact__social-list {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 25px;
}
.social__link svg {
  width: 30px;
  height: 30px;
  fill: #000;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .sidepanel {
    display: none;
  }
  .about__inner {
    -ms-grid-columns: 400px 520px;
    grid-template-columns: 400px 520px;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
  }
  .about__advantages {
    grid-template: repeat(2, minmax(115px, auto), repeat(2, 250px));
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
  .about .advantages__item {
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    -ms-grid-columns: 40px 195px;
    grid-template-columns: 40px 195px;
  }
  .resume__wrapper {
    padding: 0;
    margin-top: 60px;
    -ms-grid-columns: (415px)[2];
    grid-template-columns: repeat(2, 415px);
    -webkit-column-gap: 100px;
    -moz-column-gap: 100px;
    column-gap: 100px;
  }
  .skills__wrapper {
    grid-template-columns: repeat(auto-fit, 270px);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .portfolio__wrapper {
    grid-template-columns: repeat(auto-fit, 280px);
    grid-auto-rows: 280px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    row-gap: 35px;
  }
  .portfolio__item--horizontal, .portfolio__item--vertical {
    grid-column: unset;
    grid-row: unset;
  }
  .portfolio__item .image {
    width: 100%;
    height: 100%;
  }
  .contact__wrapper {
    padding: 0;
    -ms-grid-columns: 400px 520px;
    grid-template-columns: 400px 520px;
  }
  .contact__form {
    -ms-grid-rows: 45px 190px 45px;
    -ms-grid-columns: (250px)[2];
    grid-template: 45px 190px 45px/repeat(2, 250px);
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .title--fz36 {
    font-size: 30px;
  }
  .about__inner {
    -ms-grid-columns: 300px 380px;
    grid-template-columns: 300px 380px;
  }
  .about__advantages {
    -ms-grid-columns: 380px;
    grid-template-columns: 380px;
    grid-auto-rows: minmax(115px, auto);
    row-gap: 30px;
  }
  .about .advantages__item {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    -ms-grid-columns: 40px 320px;
    grid-template-columns: 40px 320px;
  }
  .resume__wrapper {
    -ms-grid-columns: (350px)[2];
    grid-template-columns: repeat(2, 350px);
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
  .price__wrapper {
    grid-template-columns: repeat(auto-fit, 350px);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    gap: 20px;
  }
  .contact__wrapper {
    -ms-grid-columns: 300px 400px;
    grid-template-columns: 300px 400px;
  }
  .contact__form {
    -ms-grid-rows: 45px 190px 45px;
    -ms-grid-columns: (195px)[2];
    grid-template: 45px 190px 45px/repeat(2, 195px);
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .title--fz48 {
    font-size: 28px;
  }
  .hero__title {
    width: 300px;
    line-height: 39px;
    font-size: 26px;
  }
  .about {
    padding-top: 40px;
  }
  .about__inner {
    -ms-grid-rows: 1fr auto auto;
    -ms-grid-columns: 1fr;
    grid-template: 1fr auto auto/1fr;
  }
  .about__img {
    text-align: center;
  }
  .about .advantages {
    -ms-grid-columns: (260px)[2];
    grid-template-columns: repeat(2, 260px);
  }
  .about .advantages__item {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    -ms-grid-columns: 40px 200px;
    grid-template-columns: 40px 200px;
  }
  .resume {
    padding-top: 40px;
  }
  .resume__wrapper {
    margin-top: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    row-gap: 40px;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
  .skills {
    padding-top: 40px;
  }
  .skills__wrapper {
    row-gap: 20px;
  }
  .portfolio {
    padding-top: 40px;
  }
  .price {
    padding-top: 40px;
  }
  .price__wrapper {
    margin-top: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .contact {
    padding-top: 40px;
  }
  .contact__img {
    display: none;
  }
  .contact__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .contact__form {
    -ms-grid-rows: 45px 190px 45px;
    -ms-grid-columns: (250px)[2];
    grid-template: 45px 190px 45px/repeat(2, 250px);
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
  .title--fz48 {
    font-size: 26px;
  }
  .title--fz36 {
    font-size: 24px;
  }
  .hero__hamburger {
    right: 20px;
  }
  .hero__content {
    padding-top: 206px;
  }
  .hero__btns {
    margin-top: 32px;
  }
  .menu__block {
    padding-left: 20px;
    width: 250px;
  }
  .about__subtitle {
    line-height: 36px;
  }
  .about__title {
    margin-top: 20px;
  }
  .about__inner {
    -ms-grid-rows: 340px auto auto;
    -ms-grid-columns: 1fr;
    grid-template: 340px auto auto/1fr;
  }
  .about .advantages {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .skills__wrapper {
    margin-top: 20px;
  }
  .price__wrapper {
    grid-template-columns: repeat(auto-fit, 295px);
  }
  .contact {
    padding-bottom: 50px;
  }
  .contact__form {
    -ms-grid-rows: 45px 45px 190px minmax(45px, auto);
    -ms-grid-columns: 1fr;
    grid-template: 45px 45px 190px minmax(45px, auto)/1fr;
  }
  .contact .form__textarea {
    grid-column: unset;
  }
  .contact .form__bottom {
    grid-column: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .contact .form__btn {
    max-width: 220px;
    margin: 15px auto 0 auto;
  }
  .contact .form__policy {
    display: block;
    width: 100%;
    margin: 0 auto;
    line-height: 18px;
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .footer__policy {
    margin-top: 10px;
  }
}
.footer {
  padding: 15px 0;
  background-color: #eee;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer__policy {
  display: block;
  font-size: 14px;
  color: #000;
}
.footer__policy:hover {
  text-decoration: underline;
}
.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer .social svg {
  width: 20px;
  height: 20px;
}

.privacy h1, .privacy h2, .privacy span {
  color: var(--main-color);
}
.privacy h2 {
  margin-top: 20px;
}
.privacy p {
  margin-top: 20px;
}
.privacy ul {
  padding-left: 30px;
  margin-top: 20px;
}
.privacy ul li {
  margin-top: 10px;
}

.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 21;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.modal__dialog {
  width: 100%;
  background-color: #fff;
}
.modal__thanks, .modal__item, .modal__error {
  display: none;
}
.modal__close {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 40px;
  cursor: pointer;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.modal__close:hover {
  color: red;
}
.modal__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.modal__info {
  padding: 30px;
}
.modal__info-title a {
  color: var(--main-color);
}
.modal__info-suptitle {
  margin-top: 10px;
}
.modal__info-descr {
  margin-top: 10px;
  font-size: 14px;
  color: #000;
  font-weight: 500;
}
.modal__info-btn {
  margin: 20px auto 0 auto;
  display: block;
  width: 180px;
  text-align: center;
}

.overlay-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 20;
  display: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/*# sourceMappingURL=main.css.map */